{% extends template('tile', 'Combodo\\iTop\\Portal\\Brick\\ManageBrick') %}

{% block pTileExtraContent %}
    <div class="ipb-tile--manage-brick--badge">
        {% for item in aDisplayValues %}
            <button class="ipb-button btn btn-default alternative ipb-tile--manage-brick--badge--item" data-role="navigation-trigger" data-tile-navigation-url="{{ aUrls[loop.index0] }}">
                <span class="ipb-tile--manage-brick--badge--count">{{ item.value }}</span>
                <span class="ipb-tile--manage-brick--badge--label">{{ item.label_html }}</span>
            </button>
        {% endfor %}
    </div>
{% endblock %}

