{% extends template('tile', 'Combodo\\iTop\\Portal\\Brick\\ManageBrick') %}

{% block pTileExtraContent %}
    <div class="ipb-tile--manage-brick--chart">
        {% include template(oBrick.GetTileMode, 'Combodo\\iTop\\Portal\\Brick\\ManageBrick', oBrick) with {'oBrick': oBrick, 'aColumns': aColumns, 'aNames': aNames, 'aUrls': aUrls, 'aDisplayValues': aDisplayValues} %}
    </div>
{% endblock %}