@import "../../../../itop-portal-new-look-for-3.2-lts/public/css/utils/variables/path";
@import 'common/main.scss';
@import "../../../../itop-portal-new-look-for-3.2-lts/public/css/utils/all";
@import "../../../../itop-portal-new-look-for-3.2-lts/public/css/components/all";
@import "../../../../itop-portal-new-look-for-3.2-lts/public/css/vendors/all";
@import "../../../../itop-portal-new-look-for-3.2-lts/public/css/pages/all";
@import "../../../../itop-portal-new-look-for-3.2-lts/public/css/layout/all";
